
body {
  font: 16px 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  margin-top: 1rem;
  position: relative;
}

.main-text {
  text-align: center;
  font-size: 3rem;
}

.who-is-player {
  position: absolute;
  bottom: 0;
  left: 1rem;
  display: inline-block;
  max-width: 300px;
  background: #aaeeaa;
  color: #115511;
  padding: 12px 8px;
}

.reset-btn {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 1rem;
  border: solid 1px #ababab;
  padding: 8px 12px;
  cursor: pointer;
}

.content {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
}

.box {
  border: solid 1px #ababab;
  cursor: pointer;
  font-family: 'Consolas', menlo, monospace;
  font-size: 4.2rem;
  text-align: center;
  user-select: none;
}
