
body {
  font: 16px 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-text {
  text-align: center;
  font-size: 2rem;
}

#status {
  display: inline-flex;
  background: #aaeeaa;
  color: #115511;
  padding: 12px 8px;
}

.reset-btn {
  display: inline-flex;
  flex-grow: 0;
  border: solid 1px #ababab;
  padding: 4px;
  cursor: pointer;
}

.content {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
}

.box {
  border: solid 1px #ababab;
  cursor: pointer;
  font-family: 'Consolas', menlo, monospace;
  font-size: 4.2rem;
  text-align: center;
  user-select: none;
}

/* modal for choosing what to play As */
.modal {
  /* display: none; */
  position: absolute;
  top: 25%;
  left: 40%;
  padding: 32px;
  background: #ffffff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25), 2px 2px 6px 0 rgba(255, 255, 255, 0.25);
}

.modal .header h3 {
  color: #115511;
  font-weight: 300;
  line-height: 2rem;
}

.modal button {
  padding: 2px 16px;
  background: #aaeeaa;
  color: #115511;
  margin: 8px;
  border: none;
  cursor: pointer;
}

.none {
  display: none;
}

.primary {
  animation: blink 0.3s ease infinite;
}

@keyframes blink {
  from { background: #ababab; }
  to { background: #ffc600; }
}