
body {
  font: 16px 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-text {
  text-align: center;
  font-size: 2rem;
}

#status {
  display: inline-flex;
  background: #aaeeaa;
  color: #115511;
  padding: 12px 8px;
}

.reset-btn {
  display: inline-flex;
  flex-grow: 0;
  border: solid 1px #ababab;
  padding: 4px;
  cursor: pointer;
}

.content {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
}

.box {
  border: solid 1px #ababab;
  cursor: pointer;
  font-family: 'Consolas', menlo, monospace;
  font-size: 4.2rem;
  text-align: center;
  user-select: none;
}
